datasets/test_perl
*.zip
*.annotation
style_transfer/data/
.vscode/*
*.chkpt
*.swp
telegram.json
base/telegram.json
*.ipynb
.pytest_cache
__pycache__
.ipynb_checkpoints
*.tar
*.pt
*.dict
*.txt
*.de
*.fr
*.en
datasets/machine_translation/global_voices/training/*
*.tgz
.fuse_*
*.pyc
*.atok
base/models
base/results
hansard.36
.DS_Store
specialk/results
specialk/models
specialk/telegram.json
cache
*.ruff_cache
models
.vscode
.venv