nltk>=3.1
numpy>=1.11.0
requests>=2.19
scipy>=0.17.0
scikit-learn>=0.17
tqdm>=4.24absl-py==0.7.0
bayesian-optimization==1.0.1
bcolz==1.2.1
beautifulsoup4==4.7.1
GPy==1.9.6
GPyOpt==1.2.5
gpytorch==0.3.3
